body {
    background-color: #000000;
    color: #bbbbbb;
    font: 32px 'Fira Sans', serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
}

section {
    border: 1px solid #cccccc;
    padding: 1em;
}
