@font-face {
  font-family: Fira;
  src: url(fonts/FiraSans-Light.ttf);
  font-weight: normal;
}


body {
    background-color: #000000;
    color: #bbbbbb;
    font: 32px 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
}

section {
    border: 1px solid #cccccc;
    padding: 1em;
}
